# CODEOWNERS — automatic review requests
# Docs: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-security/customizing-your-repository/about-code-owners

* @josedacosta

/packages/tailwindcss-obfuscator/ @josedacosta
/.github/                          @josedacosta
/apps/                             @josedacosta
